<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="noticias.length; else loading">
    <ion-card *ngFor="let noticia of noticias" (click)="abrirDetalhes(noticia)">
      <img [src]="noticia.image" alt="{{ noticia.name }}" />
      <ion-card-header>
        <ion-card-title>{{ noticia.name }}</ion-card-title>
        <ion-card-subtitle>Lançamento: {{ noticia.releaseDate }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Resumo:</strong> {{ noticia.overview }}</p>
        <p><strong>Tipo:</strong> {{ noticia.type }}</p>
        <p><strong>Categoria/Gênero:</strong> {{ noticia.genre }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
    <p>Carregando notícias...</p>
  </ng-template>
</ion-content>