  
h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

ion-item {
  margin-bottom: 10px;
}

ion-input {
  font-size: 16px;
}

ion-button.login-button {
  margin-top: 16px;
}

.links {
  text-align: center;
  margin-top: 10px;
}

.links a {
  color: #3b71f3;
  font-size: 14px;
}

.links span {
  font-weight: bold;
}