<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="games.length; else loading">
    <ion-card *ngFor="let game of games" (click)="abrirDetalhes(game, 'Jogo')">
      <img [src]="game.image || 'assets/default-image.jpg'" alt="{{ game.name }}" />
      <ion-card-header>
        <ion-card-title>{{ game.name }}</ion-card-title>
        <ion-card-subtitle>Lançamento: {{ game.releaseDate }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Plataformas:</strong> {{ game.platforms }}</p>
        <p><strong>Pontuação:</strong> {{ game.score }}</p>
        <p><strong>Número de Análises:</strong> {{ game.numReviews }}</p>
        <p><strong>Tags:</strong> {{ game.tags }}</p>
        <ion-button fill="outline" [href]="game.url" target="_blank">
          Ver mais detalhes
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
    <p>Carregando informações...</p>
  </ng-template>
</ion-content>